<%= simple_form_for @pic, html: { multipart: true } do |f| %>
    <% if @pic.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(@pic.errors.count, 'error') %> stopped from posting.</h3>
          <ul>
            <%= @pic.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%=	f.input :title, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%=	f.input :description, class: 'form-control' %>
    </div>

    <%=	f.button :submit, class: 'btn btn-primary' %>
<% end %>